.media {
	flex-grow: 1;
	&__body {
		cursor: pointer;
		position: relative;
		height: 300px;
		width: 100%;
		max-width: 350px;
		margin: 0 auto;
		border-radius: 5px;
		overflow: hidden;

		border: 1px solid transparent;
		&:focus {
			border: 1px solid $clr_red400;
		}

		img,
		video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center 33.3333%;
		}

		.spin-container {
			@extend %center;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	&__footer {
		@extend %between;
		@extend %description-24;
		align-items: center;
		color: $clr_red400;
		padding-top: 10px;
		width: 100%;
		max-width: 350px;
		margin: 0 auto;
	}
	&__like {
		@extend %center;
		color: $clr_red400;
		border: 1px solid transparent;
		&:focus {
			border: 1px solid $clr_red400;
		}

		span {
			@extend %description-24;
			padding-right: 7px;
		}
	}
}
