.spinner {
	@extend %center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $clr_white;
	width: 100vw;
	height: 100vh;
	z-index: 999;
	overflow-y: auto;
}
